<div class="customers">
    <div class="card">
        <div class="card-header">
            <h3>Clientes</h3>
        </div>
        <div class="card-body">
            <div class="customer">
                <div class="info">
                    <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Jose Jimenez</h4>
                        <small>Riohacha</small>
                    </div>
                </div>
                <div class="contact">
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-phone"></span>
                </div>
                <div class="actions">
                    <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="customer">
                <div class="info">
                    <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Jose Jimenez</h4>
                        <small>Riohacha</small>
                    </div>
                </div>
                <div class="contact">
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-phone"></span>
                </div>
                <div class="actions">
                    <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="customer">
                <div class="info">
                    <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Jose Jimenez</h4>
                        <small>Riohacha</small>
                    </div>
                </div>
                <div class="contact">
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-phone"></span>
                </div>
                <div class="actions">
                    <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="customer">
                <div class="info">
                    <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Jose Jimenez</h4>
                        <small>Riohacha</small>
                    </div>
                </div>
                <div class="contact">
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-phone"></span>
                </div>
                <div class="actions">
                    <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="customer">
                <div class="info">
                    <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Jose Jimenez</h4>
                        <small>Riohacha</small>
                    </div>
                </div>
                <div class="contact">
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-phone"></span>
                </div>
                <div class="actions">
                    <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="customer">
                <div class="info">
                    <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                    <div>
                        <h4>Jose Jimenez</h4>
                        <small>Riohacha</small>
                    </div>
                </div>
                <div class="contact">
                    <span class="fa fa-envelope"></span>
                    <span class="fa fa-phone"></span>
                </div>
                <div class="actions">
                    <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>