<div class="cards">
    <div class="card-single">
        <div>
            <h1>43</h1>
            <span>Paquetes</span>
        </div>
        <div>
            <span class="fa fa-map-marked-alt"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>50</h1>
            <span>Clientes</span>
        </div>
        <div>
            <span class="fa fa-users"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>76</h1>
            <span>Aliados</span>
        </div>
        <div>
            <span class="fas fa-project-diagram"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>23</h1>
            <span>Tienda</span>
        </div>
        <div>
            <span class="fa fa-store"></span>
        </div>
    </div>
</div>

<div class="recent-grid">
    <div class="orders">
        <div class="card">
            <div class="card-header">
                <h3>Ordenes Recientes</h3>
                <button type="button" (click)="gotostore()">Mas ... <span class="fa fa-arrow-right"></span></button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width=100%>
                        <thead>
                            <tr>
                                <td>Producto</td>
                                <td>Destino</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mochila 0001</td>
                                <td>Medellin</td>
                                <td><span class="status send"></span>Enviar</td>
                            </tr>
                            <tr>
                                <td>Mochila 0001</td>
                                <td>Medellin</td>
                                <td><span class="status send"></span>Enviar</td>
                            </tr>
                            <tr>
                                <td>Mochila 0001</td>
                                <td>Medellin</td>
                                <td><span class="status send"></span>Enviar</td>
                            </tr>
                            <tr>
                                <td>Mochila 0001</td>
                                <td>Medellin</td>
                                <td><span class="status send"></span>Enviar</td>
                            </tr>
                            <tr>
                                <td>Mochila 0001</td>
                                <td>Medellin</td>
                                <td><span class="status delivered"></span>Entregado</td>
                            </tr>
                            <tr>
                                <td>Mochila 0001</td>
                                <td>Medellin</td>
                                <td><span class="status sended"></span>Enviado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <h3>Clientes</h3>
                <button type="button" (click)="gotoclients()">Mas ... <span class="fa fa-arrow-right"></span></button>
            </div>
            <div class="card-body">
                <div class="customer">
                    <div class="info">
                        <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Jose Jimenez</h4>
                            <small>Riohacha</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-envelope"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Jose Jimenez</h4>
                            <small>Riohacha</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-envelope"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Jose Jimenez</h4>
                            <small>Riohacha</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-envelope"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Jose Jimenez</h4>
                            <small>Riohacha</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-envelope"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Jose Jimenez</h4>
                            <small>Riohacha</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-envelope"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
                        <div>
                            <h4>Jose Jimenez</h4>
                            <small>Riohacha</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-envelope"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>