<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="fas fa-globe-americas"></span><span>Guajirodream</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="active">
          <span class="fas fa-tachometer-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="paquetes" routerLinkActive="active">
          <span class="fas fa-map-marked-alt"></span>
          <span>Paquetes</span>
        </a>
      </li>
      <li>
        <a routerLink="clientes" routerLinkActive="active">
          <span class="fas fa-users"></span>
          <span>Clientes</span>
        </a>
      </li>
      <li>
        <a routerLink="aliados" routerLinkActive="active">
          <span class="fas fa-project-diagram"></span>
          <span>Aliados</span>
        </a>
      </li>
      <li>
        <a routerLink="tienda" routerLinkActive="active">
          <span class="fas fa-store"></span>
          <span>Tienda</span>
        </a>
      </li>
      <li>
        <a routerLink="galeria" routerLinkActive="active">
          <span class="fas fa-photo-video"></span>
          <span>Galeria</span>
        </a>
      </li>
      <li>
        <a routerLink="nosotros" routerLinkActive="active">
          <span class="fas fa-info-circle"></span>
          <span>Nosotros</span>
        </a>
      </li>
      <li>
        <a routerLink="blog" routerLinkActive="active">
          <span class="fas fa-blog"></span>
          <span>Blog</span>
        </a>
      </li>
      <li>
        <a routerLink="politicas" routerLinkActive="active">
          <span class="fas fa-list-alt"></span>
          <span>Politicas</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <h3>
      <label for="nav-toggle">
        <span class="fa fa-bars"></span>
      </label>
    </h3>
    <div class="search-wrapper">
      <span class="fa fa-search"></span>
      <input type="search" placeholder="search">
    </div>
    <div class="user-wrapper">
      <img src="assets/img/profile.jpg" width="40px" height="40px" alt="">
      <div>
        <h4>Jose Jimenez</h4>
        <small>Super admin</small>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
