<div class="card">
    <div class="card-header">
        <h3>Paquetes</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table width=100%>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Duración</td>
                        <td>Descripción</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>Cabo de la Vela</td>
                        <td>3 días y 2 noches</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos deserunt minima impedit doloribus ipsam nostrum perferendis aliquid, aliquam laboriosam veniam nihil. Eligendi nisi, officia exercitationem eveniet unde ad! Ea, beatae?</td>
                        <td class="actions"><i class="fas fa-eye"> </i><i class="fas fa-edit"> </i><i class="fas fa-trash-alt"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
